.UnityContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;

    .UnityStyles{
        width: 960px;
        height: 540px;
    }
}
